body {
    padding-top: 100px; 
    background-color: black;
    color: white;
}

/* links */

h1 {
    color: #c3dbfa;
    padding: 0px 10px;
}

ul {
    list-style-type: none;
}

li {
    float: right;
    padding: 14px 16px;
}

li a {
    align-self: right;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

li a:hover, li a:focus {
    color: #bbb;
    text-decoration: none;
}

/* projects */

#projects {
    padding: 100px 30px;
}

.project-window {
    color: rgba(0, 0, 0, 0);

    position: relative;
    display: inline-block;
    top: 0;
    left: 0;

    width: 225px;
    height: 225px;
    margin: 10px;

    background-size: cover;
    background-position: top;

    border-radius: 100%;
    border: #404040 solid 2px;
    box-shadow: 0px 0px 15px 4px black inset;
}

.overlay {
    width: inherit;
    height: inherit;
    top: inherit;
    left: inherit;
    position: absolute;

    border-radius: 100%;

    background-color:rgba(0, 0, 0, 0);

    color: rgba(0, 0, 0, 0);
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
}


.project-window:focus > .overlay, .project-window:hover > .overlay {
    background-color:rgba(0, 0, 0, .7);
    color: rgba(255, 255, 255, 1);
}
